@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}

/*	80% {
		transform: translateX(8px);
	}*/

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes slideInRight {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}

/*	80% {
		transform: translateX(-8px);
	}
*/
	100% {
		opacity: 1;
		transform: translate(0);
	}
}